<div class="p-8 pt-16 text-white flex flex-col gap-12 w-screen h-screen overflow-scroll" style="background: radial-gradient(ellipse at top, #0e7490, #164e63, #083344);">
    @for (item of data; track $index) {
        <div class="flex flex-col gap-4">
            <h1 class="uppercase text-3xl font-semibold">{{item.header}}</h1>
            <swiper-container slides-per-view="7" speed="500" navigation="true">
                @for (video of item.data; track $index) {
                    <swiper-slide><img src="{{video.verticalPhotos[0].photoUrlBase}}" class="rounded h-96" alt=""></swiper-slide>
                }
            </swiper-container>
        </div>
    }
</div>
<!-- <swiper-container slides-per-view="1" speed="500" loop="true" navigation="true">
  <swiper-slide class="border-black bg-red-600"><img src="/jupiter_logo-full_ua.svg" class="rounded" alt=""></swiper-slide>
  <swiper-slide class="border-black bg-red-600"><img src="/jupiter_logo-full_ua.svg" class="rounded" alt=""></swiper-slide>
  <swiper-slide class="border-black bg-red-600"><img src="/jupiter_logo-full_ua.svg" class="rounded" alt=""></swiper-slide>
  <swiper-slide class="border-black bg-red-600"><img src="/jupiter_logo-full_ua.svg" class="rounded" alt=""></swiper-slide>
  <swiper-slide class="border-black bg-red-600"><img src="/jupiter_logo-full_ua.svg" class="rounded" alt=""></swiper-slide>
  <swiper-slide class="border-black bg-red-600"><img src="/jupiter_logo-full_ua.svg" class="rounded" alt=""></swiper-slide>
  <swiper-slide class="border-black bg-red-600"><img src="/jupiter_logo-full_ua.svg" class="rounded" alt=""></swiper-slide>
</swiper-container> -->